html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    background: #FFFFFF;
    font-family: 'Heebo', sans-serif;
}

header{
    height: 37px;
    color: #21243D;
    top: 0px;
    position: sticky;
    font-weight: 500;
    overflow: hidden;
    padding: 15px 60px;
    margin-bottom: 50px;
    z-index: 1;
    background-color: #EDF7FA;
}

.itens:link{text-decoration: none;color: #21243D;}
.itens:visited{color: #21243D;}
.itens:hover{color: #FF6464;}

.itens{
    transition-property: all;
    transition-duration: 0.20s;
    font-size: 20px;
    margin-left: 20px;
    float: right;
}
/* Primeira Seção */
.secao1{
    height: 380px;
    width: 1000px;
    margin: auto;
    position: relative;
}

section{
    color: #21243D;
    position: relative;
    padding-bottom: 0px;
    padding-top: 0px;

}

#apresentacao{
    position: absolute;
    left: 0px;
    top: 70px;
    width: 650px;
    height: 120px;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 44px;
}

#bio{
    position: absolute;
    left: 0px;
    top: 230px;
    width: 600px;
    height: 80px; 
    font-weight: 400;
    font-size: 18px;    
}

.fundo_foto{
    position: absolute;
    left: 685px;
    top: 32px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #EDF7FA;
    box-shadow: 2px 2px 20px -14px #00A8CC;
}

.foto{
    overflow: hidden;
    position: absolute;
    left: 690px;
    top: 20px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: url(./assets/fotoCV.jpeg);
    background-size: cover;
    background-position-y: 30%;
}

#pt{
    height: 50px;
}

.roll_1{
    margin: 0;
    padding: 0;
    height: 150px;
}

/* Segunda Seção */

.secao2{
    margin: auto;
    margin-bottom: 0px;
    height: 380px;
    width: 1000px;
    position: relative;
}

.posts{
    background-color: #EDF7FA;
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 0px;
    height: 340px;
}

.titulo{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 25px;
    margin-top: 4px;
}

h1{
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 28px;
    padding: 0;
    font-size: 23px;
}

.data{
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 20px;
    padding: 0;
    font-weight: 400;
}

p{
    font-size: 18px;
    padding: 0;
    margin: 0;
}
.postagem1, .postagem2{
    position:absolute;
    border-radius: 10px;
    padding: 24px;
    width: 430px;
    height: 250px;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 10px -10px #00A8CC;
}

.postagem2{
    left: 522px;
}

.ver_todas{
    top: 15px;
    right: 20px;
    position: absolute;
    color: #00A8CC;
    font-size: 18px;
    font-weight: 400;
    transition-property: all;
    transition-duration: 0.20s;
}

#tb{
    height: 60px;
    background-color: #EDF7FA;
}

.ver_todas:link{text-decoration: none; color: #00A8CC;}
.ver_todas:visited{color: #00A8CC;}
.ver_todas:hover{color: #FF6464;}

/* Terceira Seção */
.secao3{
    margin: auto;
    height: 340px;
    width: 1000px;
    position: relative;
}

.trabalhos{
    color: #21243D;
    height: 340px;
}

.titulo2{
    font-size: 24px;
    margin-top: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

.trabalho{
    position: relative;
    margin-bottom: 40px;
    height: 220px;
}

.imagem{
    width: 260px;
    height: 220px;
}

.imagem img{
    width: 260px;
    height: 220px;
    border-radius: 10px;
    box-shadow: 3px 3px 20px -10px #00A8CC;
    object-fit: cover;
}


.titulo_trabalho{
    font-size: 32px;
    left: 0px;
    top: -15px;
    position: absolute;
}

.descricao{
    font-size: 18px;
    left: 290px;
    top: 135px;
    position: absolute;
    width: 650px;
    left: 0px;
    top: 146px;
}


.link{
    padding-left: 10px; 
    font-size: 20px;
    font-weight: 900;
    background-color: #142850;
    color: #FFFFFF;
    width: 101px;
    border-radius: 40px;
    position: absolute;
    left: 0px;
    top: 80px;
    transition-property: all;
    transition-duration: 0.7s;
}
.link:link{text-decoration: none; color: #FFFFFF;}
.link:visited{color: #FFFFFF;}
.link:hover{color: #FF6464; background-color:#FFFFFF;}

.repositorio{
    padding-left: 10px; 
    font-size: 20px;
    font-weight: 900;
    background-color: #142850;
    color: #FFFFFF;
    width: 114px;
    border-radius: 40px;
    position: absolute;
    left: 135px;
    top: 80px;
    transition-property: all;
    transition-duration: 0.7s;
}

.repositorio:link{text-decoration: none; color: #FFFFFF;}
.repositorio:visited{color: #FFFFFF;}
.repositorio:hover{color: #FF6464; background-color:#FFFFFF;}

.linguagens_data{
    font-size: 22px;
    color: #8695A4;
    position: absolute;
    left: 285px;
    top: 77px;
}

.texto_trabalho{
    height: 220px;
    width: 720px;
    position:relative;
    left: 280px;
    top: -220px;
}

/*Rodape*/

footer{
    position: relative;
    height: 180px;
}

.rodape{
    word-spacing: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90px;
    transform: translate(-50%,-80%);
}

.nota{
    position: absolute;
    left: 50%;
    top: 70%;
    width: 245px;
    font-size: 16;
    transform: translate(-50%,-40%);
}

.icones_git{
    margin-right: 30px;
    float: left;
    background: url(./assets/git_hub.png);
    width: 30px;
    height: 30px;
    transition-property: all;
    transition-duration: 0.4s;
}


.icones_linkedin{
    float: left;
    background: url(./assets/Linkedin.png);
    width: 30px;
    height: 30px;
    transition-property: all;
    transition-duration: 0.4s;
}

.transition_postagem{
    color:#21243D;
    font-size: 28px;
    font-weight: 700;
    transition-property: all;
    transition-duration: 0.20s;
}

.transition_postagem:link{text-decoration: none; color: #21243D;}
.transition_postagem:visited{color: #21243D;}
.transition_postagem:hover{color: #FF6464;}

.icones_git:link{text-decoration: none;}
.icones_git:visited{background: url(./assets/git_hub.png);}
.icones_git:hover{background: url(./assets/git_hub_vermelho.png);}

.icones_linkedin:link{text-decoration: none;}
.icones_linkedin:visited{background: url(./assets/Linkedin.png);}
.icones_linkedin:hover{background: url(./assets/Linkedin_vermelho.png)}

/*Responsividade Web*/

@media screen and (max-width: 1040px){
    #pt{
        position: absolute;
        background-color: #FFFFFF;
        width: 100%;
        top: 860px;
        z-index: -10;
    }
    #tb{
        position: absolute;
        background-color: #FFFFFF;
        width: 100%;
        top: 1780px;
        z-index: -10;
    }
    body{
        text-align: center;
        margin: 0;
        padding: 0;
    }
    
    header{
        padding: 0;
        margin: 0;
        height: 67px;
    }
    .posicao{
        position: absolute;
        word-spacing: 40px;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 260px;
        height: 37px;
    }
    .itens{
        float: none;
        margin-left: 0px;
        display: inline-block;
    }
    .secao1{
        width: 100%;
        height: initial;
        margin-top: 0;
        margin: 0;
        padding: 0;
    }

    .fundo_foto, .foto, #apresentacao, #bio{
        position: initial;
        margin: auto;
        margin-bottom: 40px;
        padding: 0;
    }
    
    .fundo_foto{
        z-index: -1;
        position: absolute;
        top: 6px;
        left: 49%;
        transform: translateX(-50%);
    }
    .foto{
        margin-top: 70px;
    }

    #apresentacao, #bio{
        height: unset;  
        width: 100%;
        padding-left: 8%;
        padding-right: 8%;
        box-sizing: border-box;
    }

    .secao2{ 
        height: initial;
        width: 100%;
    }
    .posts{
        height: initial;
    }
    .titulo, .postagem1, .postagem2{
        position: initial;
        margin: auto;
        margin-bottom: 40px;
        padding: 0;
    }
    .titulo{
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .postagem1, .postagem2{
        width: 87vw;
        height: unset;
        padding: 20px;
        box-sizing: border-box;
    }

    /* resetando todas as configurações da secao 3 */

    .secao3,.trabalhos,.titulo2, .imagem, .texto_trabalho, .trabalho, .imagem img, .titulo_trabalho, .repositorio, .link, .descricao, .linguagens_data{
        height: unset;
        width: 100%;
        position: initial;
        margin: auto;
        padding: 0px;
        box-sizing: border-box;
    }
    /* ajustando valores específicos */

    .titulo2{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .imagem img{
        width: 80%;
        height: 80%;
        border-radius: 20px;
    }
    .titulo_trabalho{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .repositorio, .link{
        margin-bottom: 18px;
        padding-top: 3px;
        padding-bottom: 3px;
        display: block;
        width: 135px;
    }
    .descricao{
        width: 80%;
        margin-top: 20px;
    }
}